html {
    scroll-behavior: smooth;
    scrollbar-color: #2b2b2b #063377;
}

body {
    font-family: "League Spartan", sans-serif;
    padding: 0;
    margin: 0;
    color: #eee;
    background-color: #101010;
    overflow-x: hidden;
    overflow-y: hidden;
    text-align: center;
}

@media(max-width: 883px) {
    body {
        overflow-y: auto
    }
}


/* Main Content and Scrollbar in Desktops */

@media(min-width: 883px) {
    #main-content {
        position: absolute;
        top: 3.7em;
        left: 0px;
        right: 0px;
        bottom: 0px;
        overflow-y: scroll;
    }
    body #main-content::-webkit-scrollbar {
        width: 1em;
        background: #111;
    }
    body #main-content::-webkit-scrollbar-track {
        background: #101010;
        opacity: 0;
    }
    body #main-content::-webkit-scrollbar-thumb {
        background: #eee;
        border-radius: 25px;
        border: 0.2em solid #101010;
        transition: all ease 0.15s;
    }
    body #main-content::-webkit-scrollbar-thumb:hover {
        background: #ccc;
        transition: all ease 0.3s;
    }
}


/* Adjust scrollbar for when height of header changes */

@media(min-width: 883px) and (min-height: 600px) {
    #main-content {
        top: 8.5vh;
    }
}

.container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}


/* Branding Styling */

#slogan {
    font-family: "Yanone Kaffeesatz", "Trebuchet MS", sans-serif;
}

#logo {
    font-family: "League Spartan", sans-serif;
    text-transform: uppercase;
}


/* Font Sizes */

.very-small {
    font-size: 2em;
}

.small {
    font-size: 2em;
}

.medium {
    font-size: 5em;
}

.big {
    font-size: 8em;
}

@media(max-width: 800px) {
    .big {
        margin-top: 1em;
        font-size: 6em;
    }
}

.very-big {
    font-size: 20em;
}


/* Header */

header {
    background: #202020;
    color: #eee;
    position: fixed;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    z-index: 1000;
    padding-top: 3px;
    border-bottom: #202020 3px solid;
    box-shadow: inset 0 1em 2em #101010;
}

header a {
    color: #ffffff;
    text-decoration: none;
    text-transform: none;
    font-size: 17px;
    border-radius: 14px;
    padding: 8px;
    padding-left: 10px;
    padding-right: 10px;
    transition: 0.6s;
}

header li {
    float: left;
    display: inline;
}

header #branding {
    float: left;
}

header #branding h1 {
    margin: 0;
    display: inline;
}

@media(min-height: 600px) {
    header #branding img {
        display: inline;
        width: 7.25vh;
        height: 7.25vh;
    }
    header nav {
        margin-top: 2.75vh;
    }
}

@media(max-height: 600px) {
    header #branding img {
        display: inline;
        width: 3em;
        height: 3em;
    }
    header nav {
        margin-top: 1em;
        margin-bottom: 1em;
    }
}

header nav {
    float: right;
}

header .highlight,
header .current a {
    color: #96bbff;
    font-weight: bold;
}

header a:hover {
    color: #96bbff;
    background-color: #202020;
    transition: all ease 0.5s;
}

header #hamburger {
    display: none;
}

ul {
    margin: 0;
    padding: 0;
}


/* UI */

button {
    background-color: #eeeeee;
    border-radius: 1.75em;
    padding: 1.25em;
    border: none;
    box-shadow: 0 0 1em 1em #202020;
}

button:hover {
    transition: all ease 1.5s;
}

button a {
    color: #101010;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "League Spartan", system-ui;
}


/* Contact */

#contact {
    transition: all ease 0.4s;
    position: absolute;
    position: fixed;
    top: 10vh;
    left: 7.5%;
    font-family: "Yanone Kaffeesatz", sans-serif;
    background: #202020;
    top: 7em;
    bottom: 2em;
    left: 2em;
    right: 2em;
    border-radius: 1em;
    padding: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    overflow-y: auto;
    box-shadow: 0 0 1em 0.1em #202020;
}

#contact form {
    width: 80%;
}

#contact input,
#contact textarea,
#contact select {
    width: 60%;
    font-family: system-ui;
}

@media(max-width: 883px) {
    #contact input,
    #contact textarea,
    #contact select {
        width: 80%;
        font-family: system-ui;
    }
}

#contact div {
    margin: 1.5em;
}

#contact label {
    display: block;
}

#contact p {
    margin: 0;
}

#contact button {
    background-color: #eeeeee;
    border-radius: 1.75em;
    padding: 1.25em;
    border: none;
    box-shadow: 0 0 1em 1em #202020;
    color: #101010;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "League Spartan", system-ui;
    transition: all ease 1.5s;
}

#contact button:hover {
    transition: all ease 1.5s;
    transform: translateZ(-30%);
}


/* TODO: Do contact button on side for pc */


/* TODO: Do contact floating button on bottom right for mobile */


/* Footer */

footer {
    background: #202020;
    padding: 1em;
    border-radius: 0.5em 0.5em 0 0;
}

footer p {
    margin: 0;
}